#dropDown {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  

  /* Dropdown Content (Hidden by Default) */
  .myDropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  ul {
      border: .05mm solid black;
      background-color: rgb(252, 247, 247);
      width: 25%;
      padding: 4mm;
  }

  li {
      list-style: none;
      text-decoration: none;
      padding-left: 5mm;
  }

  button {
      margin-bottom: -4mm;
  }

  header {
      display: flex;
      justify-content: center;
  }